strong {
    font-size: 1.15em;
  }

.md-content h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: inherit;
  }
  
  body[data-theme="slate"] .md-content h1 {
    color: white !important;
  }
  
  body[data-theme="default"] .md-content h1 {
    color: black !important;
  }
  /* Adjust the logo size */
.md-header__button.md-logo img {
    height: 60px !important;  /* increase this value as needed */
    }
  
  